<div class="event">
    <% if include_event_link %>
        <h2><%= link_to event.title, event %></h3>
    <% else %>
        <h2><%= event.title %></h3>
    <% end %>
    <h3>Event Date and Time: <%= event.date_and_time %></h4>
    <h4><%= event.location %></h5>
    <p><%= event.description %></p>
    <div><b>Created At <%= event.created_at %></b></div>
    <div><b>Created by <%= event.creator.email %></b></div>
    <% if include_attend_link %>
        <% if event.attendees.include?(current_user) %>
            <%= link_to "Do Not Attend Event", event_attendings_destroy_path(attended_event_id: event.id), data: {
                turbo_method: :delete
            } %>
        <% else %>
            <%= link_to "Attend Event", event_attendings_path(attended_event_id: event.id), data: {
                turbo_method: :post
                } %>
        <% end %>
    <% end %>
</div>